DATABASE_URL=postgresql://user:password@localhost:5432/unchk_db
JWT_SECRET=REMPLACER_AVEC_openssl_rand_-hex_32
JWT_EXPIRES_IN=15m
REFRESH_TOKEN_EXPIRES_IN=7d
PORT=3001
NODE_ENV=development
FRONTEND_URL=http://localhost:5173
REDIS_URL=redis://localhost:6379
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
